@{
    ViewData["Title"] = "Feed";
    Layout = null;

}
@model Xapp.Domain.DTOs.PostOutput
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- w3css library -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--Poppins font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Icons link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--link to stylesheet-->
    <link href="~/css/feed_styles.css" rel="stylesheet">

    <title>Post</title>
</head>

<body style="background-color:rgb(255, 255, 255)">
    <!--side bar-->
    <div class="sidebar">
        <img src="https://drive.google.com/uc?export=view&id=17qRly_RNtO7moC4aSQkWyQjI5xKTv4Ft" id="logo">
        <a href="#Profile"> Profile</a>
        <a href="#Feed"> Feed</a>
        <a href="#XipeCoins"> XipeCoins</a>
        <a href="#Calendar"> Calendar</a>
    </div>

    <div class="main">

        <!-- full post -->
        <div id="post_container">
            <div class="post_elements">

                <div class="btn_icons">
                    <div class="interactions_container">
                        <button class="like_btn" onclick=change_like_color(like01)><i class="material-icons thumbs_up"
                                id="like01">thumb_up</i></button>
                        <span>7</span>
                    </div>
                    <div class="interactions_container">
                        <i class="material-icons">chat</i>
                        <span>2</span>
                    </div>
                </div>

                <div class="post_title_tag">
                    <h2 class="post_title">@Model.Title</h2>
                    <span class="post_tag">@Model.Tag</span>
                </div>

                <div class="profile_elements">
                    @if (Model.URLProfile != null)
                    {
                        <img src="@Model.URLProfile" class="user_pic">
                    }
                    else{
                            <img src="~/img/profilepic.png"
                                class="user_pic"/>
                    }
                    <h3 class="author">@Model.UserName</h3>
                </div>

                <p class="post_content">@Model.Content
                </p>

                @if (@Model.Multimedia != null)
                {
                    <img src="@Model.Multimedia"
                        class="imagepost"/>
                }

                <span style="color:rgb(226, 36, 50)">@Model.Comments.Count() COMMENTS</span>
            </div>
        </div>

                <!-- add comment -->
        <form action="CreateComment" method="POST">
        <div id="add_comment" class="w3-display-container form-group">
            <textarea name="Content" id="comment_input" placeholder="Add a comment"></textarea>
            <button name="PostId" value="@Model.PostId" type="submit" class="w3-button w3-round-large w3-display-bottomright">Send</button>
        </div>
        </form>
        <!-- post comments -->
        <div id="comment_container">
            @foreach (var comment in @Model.Comments)
           {
               <div class="comment_block">
                <div class="comment_elements">

                    <div class="profile_elements">
                        @if (comment.URLProfile != null)
                        {
                            <img src="@comment.URLProfile" class="user_pic">
                        }
                        else{
                                <img src="~/img/profilepic.png"
                                    class="user_pic"/>
                        }
                        <h3 class="comment_author">@comment.UserName</h3>
                    </div>

                    <p class="comment_content">@comment.Content
                    </p>
                </div>
            </div>
           }

        </div>

    </div>

    <!-- link to js file -->
    <script src="~/js/feed_script.js"></script>

</body>

</html>