@model Xapp.Domain.DTOs.Perfil.ProfileOutput
@{
    ViewData["Title"] = "My Profile";
    Layout = null;

}


<!DOCTYPE html>
<html>
<head>
    <!-- Importar CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Libreria de Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=preload href="~/css/Profile.css" as="style">
    <link href="~/css/Profile.css" rel="stylesheet" type="text/css" asp-append-version="true">
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <img src="https://drive.google.com/uc?export=view&id=17qRly_RNtO7moC4aSQkWyQjI5xKTv4Ft" id="logo">
        <a href="#Perfil"> Profile</a>
        <a href="#Feed"> Feed</a>
        <a href="#XipeCoins"> XipeCoins</a>
        <a href="#Calendar"> Calendar</a>
    </div>

    <main>
        <!-- Grid Profile-->
        <section class="profilesection">
            <h2 class="myprofiletext bgColor">My Profile</h2>
            <input class="profile-button" type="submit" form="perfil" value="Guardar Cambios" />

            <div class="profileWrapper">

                <div class="profileInfo-personal">
                    <div class="profileInfo-personal-data">
                        <div class="profile-pic">
                            <img src="@Model.UrlImage"
                                 id="photo" />
                            <input type="file" id="file">
                            <label for="file" id="uploadBtn"> Change Photo </label>

                        </div>
                        <form id="perfil" action="Profile" method="post" class="profileInfo-personal-data-afterimg">
                            <div class="col-md-12 afterimg">
                                <label class="labels">First Name</label>
                                <input name="Nombre" type="text" class="form-control" placeholder="Name" value="@Model.Nombre">
                            </div><br>
                            <div class="col-md-12 afterimg">
                                <label class="labels">Last Name</label>
                                <input name="Apellido" type="text" class="form-control" placeholder="Last Name" value="@Model.Apellido">
                            </div><br>
                            <div class="col-md-12 afterimg">
                                <label class="labels">Area</label>
                                <input name="Area" type="text" class="form-control" placeholder="Area" value="@Model.Area">
                            </div><br>
                            <div class="col-md-12 afterimg">
                                <label class="labels">Phone Number</label>
                                <input name="Telefono" type="tel" class="form-control" placeholder="XXX-XXXX-XXXX" value="@Model.Telefono">
                            </div><br>
                            <div class="col-md-12 afterimg">
                                <label class="labels">Email</label>
                                <input name="Email" type="email" class="form-control" placeholder="example@example.com" value="@Model.Email">
                            </div><br>
                            <div class="col-md-12 afterimg">
                                <label class="labels">Birthday</label>
                                @Html.TextBoxFor(m => m.FechaCumple, "{0:yyyy-MM-dd}", new {@type = "date", @class = "form-control", @placeholder="mm/dd/aaaa"})
                            </div><br>
                            <div class="col-md-12 afterimg">
                                <label class="labels">Bio</label>
                                <input name="Bio" type="text" class="form-control" placeholder="Description" value="@Model.Bio" style="height:fit-content">
                            </div><br>
                        </form>
                    </div>

                </div>
                <!-- Skills -->
                <div class="profileInfo-skills">
                    <div class="p-1 py-5">
                        <h2>
                            <span class="skills_title">Skills</span>
                        </h2><br>
                        <div class="skillsmenu-outer">

                            <ul class="horizontallist">
                                @foreach (var skill in Model.Skills)
                                {
                                    @if (@skill.Nivel == Xapp.Domain.Enums.Nivel.Basico)
                                    {
                                        <li id="skill_pill" class="basic">
                                            @skill.Nombre
                                            <span class="close closeskill">&times;</span>
                                        </li>

                                    }
                                    else if (@skill.Nivel == Xapp.Domain.Enums.Nivel.Intermedio)
                                    {
                                        <li id="skill_pill" class="medium">
                                            @skill.Nombre
                                            <span class="close closeskill">&times;</span>
                                        </li>
                                    }
                                    else if (@skill.Nivel == Xapp.Domain.Enums.Nivel.Avanzado)
                                    {
                                        <li id="skill_pill" class="advanced">
                                            @skill.Nombre
                                            <span class="close closeskill">&times;</span>
                                        </li>
                                    }
                                    else if (@skill.Nivel == Xapp.Domain.Enums.Nivel.Experto)
                                    {
                                        <li id="skill_pill" class="expert">
                                            @skill.Nombre
                                            <span class="close closeskill">&times;</span>
                                        </li>
                                    }

                                }
                            </ul>

                        </div>
                        <button class="skill-button" type="button">+ Add Skill</button>
                    </div>
                </div>
                <!-- Resume -->
                <div class="profileInfo-resume">
                    <div class="d-flex flex-column p-3 py-5">
                        <h2 class="resume_title">Resume</h2>
                        <div id="boton_icono_pdf">
                            <span class="close closeresume">&times;</span>
                        </div>
                        <div id="PDF_Btn">
                            <label for="file-input">
                                <img src="https://cdn-icons.flaticon.com/png/512/3720/premium/3720346.png?token=exp=1651430351~hmac=afcc66046de6dc129839e40be7e7df76" />
                            </label>

                            <form enctype="multipart/form-data" method="post">
                                <input type="file" id="file-input" accept=".pdf" />
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- PopUp -->
    <div class="modal-cont">
        <div class="modal-box">
            <span class="close">&times;</span>
            <form action="Profile" method="post" class="login-box">
                <h1 class="skilltitle"> Add Skill </h1>
                <label class="skilllabel">Name:</label>
                <input type="text" class="skillname" id="field1" required>
                <label class="skilllabel skilllevel">Skill Level:</label>
                <button name="Nivel" class="basic skilloption" type="button" id="skill_pill">Basic</button>
                <button name="Nivel" class="medium skilloption" type="button" id="skill_pill">Medium</button>
                <button name="Nivel" class="advanced skilloption" type="button" id="skill_pill">Advanced</button>
                <button name="Nivel" class="expert skilloption" type="button" id="skill_pill">Expert</button>

                <button type="submit" class="save-button">Save</button>
            </form>
        </div>
    </div>

    <!-- Archivo de Javascript -->
    <script src="~/js/perfil_code.js"></script>
</body>
</html>