@{
    ViewData["Title"] = "XipeCoins";
    Layout = null;

}
@model Xapp.Domain.DTOs.AccountOutput

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>XipeCoins Management</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="~/css/styleindex.css">
  <link rel="stylesheet" href="~/css/sidebar.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Sidebar -->
<div class="sidebar">
	<img src="https://drive.google.com/uc?export=view&id=17qRly_RNtO7moC4aSQkWyQjI5xKTv4Ft" id="logo">
	<a href="~/Home/ProfileModoVista" class="sidebar-labels"> Profile</a>
	<a href="~/Feed/index" class="sidebar-labels"> Feed</a>
	<a href="~/XipeCoins/Index" class="sidebar-labels"> XipeCoins</a>
	<a href="~/Calendar/Index" class="sidebar-labels"> Calendar</a>
</div>
<div class="app">
	<header class="app-header">
		<div class="app-header-logo">
			<div class="logo">
				<span class="logo-icon">
					<img src="https://pbs.twimg.com/profile_images/1463883159607681029/X7Gka3TC_400x400.jpg" />
				</span>
				<h1 class="logo-title">
					<span>XipeCoins</span>
					<span>XipeBank</span>
				</h1>
			</div>
		</div>
		<div class="app-header-navigation">
			<div class="tabs">
				<a class="page-scroll" href="/XipeCoins/Index">
					General
				</a>
				<a class="page-scroll" href="/XipeCoins/transaction">
					Transferencia
				</a>
				<a class="page-scroll" href="/XipeCoins/account">
					Cuenta  
				</a>
			</div>
		</div>
		<div class="app-header-actions">
			<a href="#Perfil" class="active"></a>
			<button class="user-profile">
				<span>@Model.Nombre @Model.Apellido</span>
				<span>
					   @if (@Model.UrlFoto != null)
                            {
                                <img src="@Model.UrlFoto" 
                                     class="user_pic">
                            }
                            else{
                                 <img src="~/img/profilepic.png"
                                     class="user_pic"/>
                            }
				</span>
			</button>
			<div class="app-header-actions-buttons">
				<button class="icon-button large">
					<i class="ph-magnifying-glass"></i>
				</button>
				<button class="icon-button large">
					<i class="ph-bell"></i>
				</button>
			</div>
		</div>
		<div class="app-header-mobile">
				<ul class="dropdown-menu" role="menu">
					<li><a class="page-scroll" href="/XipeCoins/Index">General</a></li>
					<li><a class="page-scroll" href="/XipeCoins/transaction">Transferencia</a></li>
					<li><a class="page-scroll" href="/XipeCoins/account">Cuenta</a></li>
				</ul>
		</div>

	</header>
		<div class="app-body-main-content">
			<section class="service-section">
				<h2>Balance</h2>
				<div class="tiles1">
					<article class ="tile1">
						<div class="tile1-header">
							<i></i>
							<h3>
								<span>XipeCoins</span>
								<span>@Model.Balance</span>
							</h3>
							
						</div>
						<div>
							<a class="page-scroll" href="/XipeCoins/account">
								<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
						</div>
						

						
					</article>
					
				</div>
			</section>
			<section class="service-section">
				<h2>Convenios</h2>
				<div class="service-section-header">
					<a class="page-scroll" href="/XipeCoins/convenios">
					<button class="flat-button">
						Search
					</button>
				</a>
				</div>
				<div class="mobile-only">
					<a class="page-scroll" href="/XipeCoins/convenios">
					<button class="flat-button">
						Toggle search
					</button>
				</a>
				</div>
				<div class="tiles">
					<article class="tile">
						<div class="tile-header">
							<i class="ph-lightning-light"></i>
							<h3>
								<span>Caffenio</span>
								<span>Ver sucursales</span>
							</h3>
						</div>
						<a class="page-scroll" href="/XipeCoins/convenios">
							<span>Ir a convenio</span>
							<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-fire-simple-light"></i>
							<h3>
								<span>Buquibichi</span>
								<span>Ver sucursales</span>
							</h3>
						</div>
						<a class="page-scroll" href="/XipeCoins/convenios">
							<span>Ir a convenio</span>
							<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
					</article>
					<article class="tile">
						<div class="tile-header">
							<i class="ph-file-light"></i>
							<h3>
								<span>Doña Tota</span>
								<span>Ver sucursales</span>
							</h3>
						</div>
						<a class="page-scroll" href="/XipeCoins/convenios">
							<span>Ir a convenio</span>
							<span class="icon-button">
								<i class="ph-caret-right-bold"></i>
							</span>
						</a>
					</article>
				</div>
				<div class="service-section-footer">
					<p>Los convenios pueden cambiar según disponibilidad</p>
				</div>
			</section>

			<section class="transfer-section">
				<div class="transfer-section-header">
					<h2>Últimas transferencias</h2>
					<div class="filter-options">
						<p>Ultimas tres trasnferencias realizadas</p>
						<button class="icon-button">
							<i class="ph-funnel"></i>
						</button>
						<a class="page-scroll" href="/XipeCoins/account">
						<button class="icon-button">
							<i class="ph-plus"></i>
						</button>
					</a>
					</div>
				</div>

				<div class="transfers">
					<div class="transfer1">					
						<dl class="transfer-details">
							<div>
								<dt>Sender</dt>
							</div>
							<div>
								<dt>Receiver</dt>
							</div>
							<div>
								<dt>Concept</dt>
							</div>
							<div>
								<dt>Date</dt>
							</div>
						</dl>
						<div class="transfer-number1">
							Amount
						</div>
					</div>

					@foreach(var transfers in Model.TransferOutputs.Take(3)){
						<div class="transfer">
							<dl class="transfer-details">
								<div>
									<dt>@transfers.NameSender</dt>
								</div>
								<div>
									<dt>@transfers.NameReceiver</dt>
								</div>
								<div>
									<dt>@transfers.AmountConcept</dt>
								</div>
								<div>
									<dt>@transfers.DateTime</dt>
								</div>
								<div>
									<dt>@transfers.Amount</dt>
								</div>
							</dl>
							</div>
					}
			</section>
		</div>
<!-- partial -->
  <script src='https://unpkg.com/phosphor-icons'></script><script  src="./script.js"></script>

</body>
</html>
